{% extends "layout/base.twig" %}

{% block content %}
<ul>
    {% for country in countries %}
        <li>
            {{ country[0] }}
            --
            {{ country[2] }}
        </li>
    {% endfor %}
</ul>
{% endblock %}