{% extends "layout/default.twig" %}

{% block content %}
<table class="table table-striped">
  <tbody>
    {% for k, country in countries %}
    <tr>
      <th scope="row">{{ k + 1 }}</th>
      <td>{{ country[0] }}</td>
      <td>{{ country[1] }}</td>
      <td>{{ country[2] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}